@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* Heading Styling */
h1 {
    font-family: 'Fjalla One', sans-serif;
    color: #055105;
}

.site-title {
    color: #055105;
    text-decoration-line: none;
}

/* Link styling */
.patron-link {
    text-decoration-color: #055105;
    text-decoration-line: underline;
    color: #055105;
}

.patron-link:hover {
    color: #90A955 !important;
    text-decoration-line: underline !important; 
    text-decoration-color: #90A955 !important;
}

.site-title:hover {
    color: #90A955;
}

a {
    color: #055105;
    text-decoration-line: none
}

a:hover {
    color:#90A955;
}

/* Buttons */
#submit-button {
    margin-top: 25px;
    background-color: #055105;
}

.green-button {
    background-color: #055105 !important;
    border-color: #055105 !important;
}

.green-button:hover {
    color: #055105 !important;
    background-color: white !important;
    border: #055105 !important;
    border-width: 1px;
}

.white-button {
    background-color: white !important;
    color: #055105 !important;
    border-color: #055105 !important;
}

.white-button:hover {
    background-color: #90A955 !important;
    color: white !important;
    border-color: #90A955 !important;
}

/* Form styling */
input, textarea, select {
    border-radius: 5px !important;
    border-color: #055105 !important;
    border-width: 3px !important;
}

/* Spacing */
.content-spacing {
    padding-top: 50px;
}

footer {
    padding-top: 50px;
}

.homepage-section {
    padding-top: 50px;
}

#newsletter-form {
    padding-top: 75px;
}

footer {
    padding-left: 30px;
}

/* List styling */
.location-list {
    list-style: none;
}