@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

h1 {
    font-family: 'Fjalla One', sans-serif;
}

.link {
    text-decoration-color: blue;
    text-decoration-line: underline;
    color: blue;
}

.link:hover {
    color: blue;
}