{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Contact Form -->
    <div>
        <h2>Contact Form</h2>
        <p>Want to get in touch? Use the form below to send us a message and we'll get back to you as soon as possible!</p>

        <!-- Crispy fields not working? -->
        <form action="{% url 'contact' %}" method="POST" id="contact-form">
            <fieldset>
                {% csrf_token %}
                {{ contact_form.as_p}}
            </fieldset>
            <div>                    
                <button id="submit-button" class="btn btn-primary green-button" type="submit">
                    <span>Send message</span>
                </button>
            </div>
        </form>
    </div>
   

{% endblock %}