{% extends 'base.html' %} {% block content %}
<!-- "Edit Location" form -->
<div class="container pl-2">
    <h2>
        Edit Location
        <br>
        <small>{{ location }}</small>
    </h2>
    <form method="post" action="{% url 'edit_location' location.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ location_form.as_p }}
        <button class="btn btn-outline-primary">Edit location</button>
    </form>
</div>
{% endblock %}
{% block postloadjs %}

<!-- Form JavaScript -->
<script>
    // convert location title to slug-format on front-end
    /* jshint esversion: 11 */
    let title = document.getElementById("id_title");
    let slug = document.getElementById("id_slug");
    title?.addEventListener("keyup", convertToSlug);
    slug?.addEventListener("keyup", convertToSlug);

    function convertToSlug() {
      slug.value = title.value.toLowerCase()
                 .replace(/ /g, '-')
                 .replace(/[^\w-]+/g, '');
    }
</script>
{% endblock %}