{% extends "base.html" %}

{% block content %}
<!-- Landing Page Intro Text -->
<div>
    <h3>User Testimonials</h3>
    <p>Just as with the big name travel guides, TNG is written by a community of experienced travellers, often drawn from our own readership. Hear from some our our satisfied customer below</p>
    <h5>Jamie from Wales</h5>
    <p>"The Neverending Guidebook is a great alternative to lugging around a bunch of bulky travel guides at the bottom of your rucksack"</p>
    <h5>Sarah from Canada</h5>
    <p>"If you're interested in lightweight travel on a shoestring budget, The Neverending Guidebook is an essential resource"</p>
    <h5>Lucy from Hong Kong</h5>
    <p>"If you want a super convenient resource on a wide range of off-the-beaten-track destinations, look no further than this awesome online travel guide"</p>
    <h5>Tomas from Colombia</h5>
    <p>"For value for money, or value for bulk in your rucksack, you cant beat The Neverending guidebook"</p>
</div>
<!-- Links to competitor sites -->
<div>
    <h3>Links to our competitors</h3>
    <p>
        Not sure if The neverending guidebook is good value? Check out our competitors prices below and we're sure you'll agree that 
        budget minded travellers need a better option!
    </p>
    <ul>
        <li><a href="https://www.lonelyplanet.com/" target="_blank" rel="nofollow noreferrer">Lonely Planet</a></li>
        <li><a href="https://www.fodors.com/" target="_blank" rel="nofollow noreferrer">Fodors </a></li>
        <li><a href="https://www.roughguides.com/" target="_blank" rel="nofollow noreferrer">Rough guides</a></li>
        <li><a href="https://www.bradtguides.com/" target="_blank" rel="nofollow noreferrer">Bradt</a></li>
        <li><a href="https://www.footprinttravelguides.com/" target="_blank" rel="nofollow noreferrer">Footprint</a></li>
    </ul>
</div>
<!-- Preview Content -->
<div>
    <h3>Preview content</h3>
    <p>Each month we rotate different posts into our preview list, to give potential users a taste of what they can expect from a patron account.
        Our free preview content is listed below, to see more you'll have to become a patron.
    </p>
    <ul>
        {% for location in location_list %}
        <li>
           <a href="{% url 'location' location.slug %}">{{ location.title }}, {{ location.country }}</a> 
        </li>
        {% endfor %}
        <li>To see more content, become a patron</li>

    </ul>
</div>

{% endblock content %}

