{% extends "base.html" %}

{% block content %}


<div>
    <h1>location directory</h1>
    <ul>
        {% if user.is_authenticated %}
            {% for location in location_list %}
            <li>
                <a href="{% url 'location' location.slug %}">Title: {{ location.title }}</a> 
            </li>
            {% endfor %}
        {% else %}
            <li>Listings are only available to users with patron accounts</li>
        {% endif %}
    </ul>
    


</div>


{% endblock content %}