{% extends "base.html" %}{% block content %}

{% load crispy_forms_tags %}

<div>
    <h3>{{ location.title }}, {{ location.country }}</h3>
    <span class="icon"><i class="fa-regular fa-bookmark"></i></span>

    {% if request.user.patron.patron_status or location.preview or request.user.is_superuser %}
        {% if user.is_authenticated %}
            <form action="{% url 'location_bookmark' location.slug %}" method="POST">
                {% csrf_token %}
                {% if not bookmarked %}
                    <button type="submit" value="{{location.slug}}">
                        <span class="icon"><i class="fa-regular fa-bookmark"></i></span>
                        <span>add bookmark</span>
                    </button>
                {% else %}
                    <button type="submit" value="{{location.slug}}">
                        <span><i class="fa-solid fa-bookmark"></i></span>
                        <span>remove bookmark</span>
                    </button>
                {% endif %}
            </form>
        {% endif %}

        <img src="{{ location.image.url }}" alt="">
        <div>{{ location.content | safe }}</div>
    {% else %}
        <h4>Sorry, this content isn't available as a free preview. Please consider becomeing a patron of the site if you
            would like to see more.</h4>
    {% endif %}
</div>

{% endblock content %}