{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col">
        <!-- Location Directory Title and Intro -->
        <h2>Location directory</h2>
        <p>
            Here it is, the index of the last guidebook you'll ever need! Below you can browse our full directory of destinations, 
            ordered by region, and then by country. Are you worried about using up your precious data allowance while on the road? 
            Patrons can view our listings in data-saving scrolling pop-ups by clicking "view in directory". For those of you still 
            in the planing stage, or if you're lucky enough to have found a hostel with unlimited wifi, you can view full listings
            with images by clicking destination titles. 
        </p>
        {% if request.user.is_superuser %}
        <a href="{% url 'add_region' %}" class="btn btn-outline-secondary btn-sm">Add a new region</a>
        <a href="{% url 'add_location' %}" class="btn btn-outline-secondary btn-sm">Add a new location</a>
        {% endif %}
        <ul>
            {% regroup location_list by country.region as region_list %}
            
            {% for region, countries in region_list %}
                <li>
                    {{ region }} 
                    <ul>
                        {% if request.user.is_superuser %}
                            <li class="list-inline-item">
                                <a href="{% url 'delete_region' region.id %}" class="btn btn-outline-secondary btn-sm">Delete this region</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{% url 'edit_region' region.id %}" class="btn btn-outline-secondary btn-sm">Edit this region</a>
                            </li>
                        {% endif %}
                        {% regroup countries by country as country_list %}
                        {% for country, locations in country_list %}
                            <li>
                                {{ country }}
                                <ul> 
                                    {% for location in locations %}
                                        <li>
                                            <a href="{% url 'location' location.slug %}">{{ location.title }}</a>
                                            {% if request.user.is_superuser %}
                                                <a href="{% url 'edit_location' location.id %}" class="btn btn-outline-secondary btn-sm">Edit this location</a>
                                                <a href="{% url 'delete_location' location.id %}" class="btn btn-outline-secondary btn-sm">Delete this location</a>
                                            {% endif %}
                                            <br>
                                            <!-- Button trigger modal -->
                                            {% if request.user.patron.patron_status or request.user.is_superuser %}
                                                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-location-{{location.id}}">
                                                    View in directory
                                                </a>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="modal-location-{{location.id}}" tabindex="-1" aria-labelledby="modal-location-{{location.id}}-Label" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="modal-location-{{location.id}}-Label">{{location.title}}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{ location.content|safe }}
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary white-button" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}