{% extends "base.html" %}

{% block content %}

    

    <div>
        <h3>{{ user.username }}'s bookmarks</h3>
        <ul>
            {% for location in locations %}
                <li>
                    <a href="{% url 'location' location.slug %}">{{ location.title }}</a> 
                </li>
            {% endfor %}
        </ul>
        <h3>
            Patron Status: 
            {% if is_patron.patron_status %}
                <i class="fa-solid fa-circle-check text-success"></i>
            {% else %}
                <i class="fa-solid fa-circle-xmark text-danger"></i>
            {% endif %}
        </h3>
    </div>

    
{% endblock content %}