{% extends "base.html" %}

{% block content %}

    <div>
        <h3>{{ user.username }}'s bookmarks</h3>
        <h5>You can keep track of your bookmarked posts here!</h5>
        <ul>
            {% for location in locations %}
                <li>
                    <a href="{% url 'location' location.slug %}">{{ location.title }}</a> 
                </li>
            {% empty  %}
                <li>
                    <h5>You havent bookmarked any posts</h5>
                </li>    
            {% endfor %}
        </ul>
        <h3>
            Patron Status: 
            {% if is_patron.patron_status %}
                <i class="fa-solid fa-circle-check text-success"></i>
            {% else %}
                <i class="fa-solid fa-circle-xmark text-danger"></i>
                <h5>You can upgrade your account to patron status<a class="nav-link link" href="{% url 'checkout' %}">here!</a></h5>
            {% endif %}
        </h3>
    </div>

    
{% endblock content %}